extends layout

block content
    h1 Login
    form
        .form-input
            label Username
            input(type="text",value="")
        .form-input
            label Password
            input(type="password")
        .form-input
            button(type="submit") Submit