doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='the blog of bou and rainbow')
    meta(name='author', content='Charm and Mnty')
    title Rainbou Blog
    // Bootstrap core CSS
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    style.
        body {
            padding-top: 50px;
        }
        .starter-template {
            margin: 15px auto;
            padding: 50px 15px;
            text-align: left;
            overflow: auto;
            background-color: aquamarine;
        }
        .container {
            position: relative;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 0;
            margin-right: 0;
            width: auto;
        }
        #entries {
            float: left;
        }
        #twittera{
            position: fixed;
            width: 250px;
            height: 80px;
            top: 120px;
            right: 30px;
            float: left;
            background-color: coral;
            padding: 10px 8px 70px 8px;
        }
        #twitterb{
            position: fixed;
            width: 250px;
            height: 80px;
            right: 30px;
            top: 200px;
            float: right;
            background-color: blueviolet;
            padding: 10px 8px 70px 8px;
        }
        #twitterc {
            position: fixed;
            width: 250px;
            height: 80px;
            right: 30px;
            top: 280px;
            float: left;
            background-color: darkgoldenrod;
            padding: 10px 8px 70px 8px;
        }



// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/test') Rainbou Blog
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                li.active
                    a(href='/test') Home
                li
                    a(href='/about') About
                li
                    a(href='#contact') Wiggles
                li
                    a(href='#archives') Archives
                li
                    a(href='#timeline') Timeline
        // /.nav-collapse
.container
    .starter-template
        #entries
            h1 Bootstrap starter template
            p.lead
                | Use this document as a way to quickly start any new project.
                br
                | All you get is this text and a mostly barebones HTML document.
            br
            h1 Second Entry
            p.lead
                | something something i'm just adding text here bou wiggle wiggle bou noises.
        #twittera
             <a class="twitter-timeline" href="https://twitter.com/CharmHusky" data-widget-id="719453651077439488">Tweets by @CharmHusky</a>
             script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}(document,"script","twitter-wjs");}
        #twitterb
            p
                | Some kind of link and or texts will go here
        #twitterc
            p
                | adding more stuff here just adding stuff to make the text look all fancy~

        // /.container
//
  Bootstrap core JavaScript
  ==================================================
// Placed at the end of the document so the pages load faster
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
