//
   Created by Charm Husky on 3/30/2016.

html
   head
      title Rainbou Blog
      h1 Welcome to the Rainbou Blog
   body
      p This text here is a test for the Rainbou blog
      p wiggle wiggle