body {

}
h1 {
  color: #181818;
  margin-left: 20px;
  font-size: 200%
}
h2 {
  color: #282828;
  margin-left: 30px;
  font-size: 100%;
}
p {
  color: #383838;
  margin-left: 30px;
  font-size: 80%
}
