body {

}
h1 {
  color: #181818;
  margin-left: 20px;
  font-size: 200%
}
h2 {
  color: #282828;
  margin-left: 30px;
  font-size: 100%;
}
p {
  color: #383838;
  margin-left: 30px;
  font-size: 80%
}

a{
    color: darkgray;
    text-decoration: none;
}

a:hover {
    color: chartreuse;
}

article {
    margin: auto;
    width: 85%;
    background-color: whitesmoke;
    border-radius: 15px;
    padding-bottom: 20px;
    padding-top: 10px;
    font-family: sans-serif;
}

footer {
    width: 90%;
    margin: auto;
}

.navbar {
    margin: auto;
    position: relative;
    width: 90%;
    height: 40px;
    background-color: #282828;
    margin-bottom: 20px;
}

.navbar-header {
    float: left;
    width:20%;
    font-size: 200%;
    text-align:center;
}

.navbar-header a {
    color: aliceblue;
    text-decoration: none;
}

.navbar-header a:hover {
    color: chartreuse;
}

.navbar-links {
    float: right;
    padding-right: 20px;
}

.navbar-links li{
    display: inline;
    list-style-type: none;
    text-align: center;

}

.select-navbar-item a{
    color: white;
}