@(message: String)

@main("Welcome to Play") {

    <p>HI</p>

    <!-- @play20.welcome(message, style = "Java") -->

    Hello World!

    <h1>Brainstorm:</h1>


    * Framework Research
    -Play
    -Spring
    <br />
    Language Discovery
    - Java stuff... lots and lots of coffee
    - NodeJS
    - RoR
    - Python
    <br />
    Language Technology stack
    <br />
    NoSQL (DB stuff)
    <br />
    Third party web APIs
    <br />
    THIRD PARTY
    <br />
    What would consider best practice? Core Principals
    <br />
    <br />
    <br />
    * Security
    -User DB/Management
    -In house tools
    -APIs
    <br />
    Cryptography/ Encryption
    - Security
    - in depth
    - MATH!?
    <br />
    <br />
    <br />
    Big Data
    -Scalability
    <br />
    Algorithms
    - Machine Learning
    - Algorithm Design
    <br />
    Aspect Oriented Programming
    - Spring
    ~ "Inverse of Control"
    <br />
    Various Software Architecture Design
    <br />
    * Design patterns
    <br />
    <br />
    <br />
    UI/UX
    <br />
    Web Applications
    - Big DB interaction
    - How handle
    <br />
    Cool CSS Style
    <br />
    UI animation
    -GSAP
    -Velocity
    <br />
    Responsive Web Design
    <br />
    Mobile Friendly First **
    <br />
    Parallel programming
    - CPU
    - GPU?
    <br />
    * WebGl
    - GPU programming
    <br />
    <br />
    <br />
    Project Management
    <br />
    Project management tools/applications
    <br />
    Agile Development Methodology
    <br />
    Waterfall
    <br />
    Spiral
    <br />
    Scrum/ XP
    <br />
    Versioning
    - 0.0.1
    - 0.0.2
    - 0.1.5
    - 9.9.9
    <br />
    <h2>Software Development Cycle</h2>
    <br />
    Logging! :D
    -Log back
    -Sys log (Log 4fj or something like that)
    -Tracing
    <br />
    Unit testing
    <br />
    Source Control
    - git
    <br />
    Development Documentation
    - Requirements
    - UI Test Cases
    - Software Architecture
    - Functional Design
    - User Manual
    - Operational Manual
    - API Documentation
    <br />
    **TDD (Design by example)
    - Test frameworks
    <br />
    <br />
    <br />
    Creating documentations
    - Coding guides
    - Styling guides
    - guides guide guides guides
    - coolness
    <br />
    Site Style for focused purpose
    - Shopping site
    - Forum site

    <br />
    <br />
    <br />
    Embedded Programming
    <br />
    Compiler
    <br />
    Linux OS component .... design?...
    <br />
    Raspberry Pi
    <br />
    Message protocol?
    <br />
    Micro-controllers
    <br />

    <br />
    <br />
    Full Applications
    <br />
    Hosting
    <br />
    Web Services
    - RESTful
    - SOAP?...
    <br />
    Social networking
    - No back stabbing
    <br />
    Data crunching
    - collect and publish?
    - APIs
    <br />
    Chat system
    - mobile integration
    <br />
    Mail system
    <br />
    Mobile app development
    - Android
    - iOS
    <br />


    Article Library
    <h1>GOAL:</h1>

    Making money, lots and lots of money
    - one fursuit a month money




}
